:root {
  overflow: hidden;
}
#mainBody {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
}
#leftMenu {
  background-color: rgb(53, 53, 53);
  flex: 0.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#balanceBox {
  width: 90%;
  aspect-ratio: 1 / 0.7;
  margin-top: 15px;
  background-color: rgb(61, 61, 61);
  border-radius: 18px;
  position: relative;
  font-family: "Antic", sans-serif;
}
#balanceBox h2 {
  position: absolute;
  margin: 0;
  top: 5px;
  font-size: 1.5rem;
  color: rgb(145, 145, 145);
  width: 100%;
  text-align: center;
}
#balanceBox .one {
  position: absolute;
  bottom: 45px;
  left: 5px;
  margin: 0;
  font-size: 1.15rem;
  color: rgb(101, 101, 101);
}
#balanceBox .two {
  position: absolute;
  bottom: 20px;
  right: 5px;
  margin: 0;
  font-size: 0.8rem;
  color: rgb(101, 101, 101);
}
#progressBarContainer {
  height: 3px;
  width: 100%;
  bottom: 40px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: right;
  background: linear-gradient(90deg, yellow, orange, red, purple);
}
#progressBar {
  height: 100%;
  width: 100%;
  background-color: rgb(86, 86, 86);
  z-index: 2;
}
.btn {
  width: 80%;
  height: 45px;
  border-radius: 8px;
  border: 3px solid rgb(72, 72, 72);
  color: rgb(72, 72, 72);
  background-color: transparent;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.25s;
  font-family: "Antic", sans-serif;
  font-size: 1.5rem;
  text-align: left;
}
.btn:hover {
  border: 3px solid rgb(96, 96, 96);
  color: rgb(96, 96, 96);
}
.activeBtn {
  width: 80%;
  height: 45px;
  border-radius: 8px;
  border-color: white;
  color: white;
  font-family: "Antic", sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.25s;
  text-align: left;
}
.activeBtn:hover {
  border: 3px solid white;
  color: white;
}
.extractedMoney {
  margin: 0px;
  font-family: "antic", sans-serif;
  margin-left: 5px;
}
.extractedMoneyCont {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}
.display {
  visibility: visible;
  opacity: 1;
}
.shopPage,
.inventoryPage {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 7.5px;
  height: calc(100vh - 15px);
}
.bettingPage {
  display: flex;
  padding: 7.5px;
  height: calc(100vh - 15px);
  justify-content: center;
  align-items: center;
}
.itemMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.openMenu {
  display: flex;
  width: 100%;
  min-height: calc(100% - 60px);
  height: auto;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgb(33, 33, 33),
    rgb(60, 60, 60),
    rgb(33, 33, 33)
  );
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.openMenu .exit {
  border: none;
  height: 45px;
  width: 120px;
  cursor: pointer;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: background-color 0.15s;
  margin-left: 10px;
  margin-bottom: 30px;
  font-family: "Antic", sans-serif;
  color: white;
  font-size: 2rem;
  margin-top: 20px;
}
.openMenu .exit:hover {
  background-color: #141414;
}
.openMenu .openAmount {
  border: none;
  height: 30px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: background-color 0.15s;
  margin-left: 10px;
  font-family: "Antic", sans-serif;
  color: white;
  font-size: 1.3rem;
  margin-top: 20px;
}
.buttonsWrapper .canOpen {
  background-color: #262626;
  cursor: pointer;
}
.buttonsWrapper .cannotOpen {
  background-color: #4f4f4f;
}
.buttonsWrapper .canOpen:hover {
  background-color: #141414;
}
.openMenu img {
  width: 250px;
  aspect-ratio: 1 / 1;
}
.openMenu h1 {
  font-family: "Antic", sans-serif;
  color: white;
}
.artifactsShowcase {
  width: 100%;
  height: auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color: rgb(32, 32, 32);
  gap: 20px;
}
.artifactCont {
  width: calc(25% - 20px);
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  font-family: "Antic", sans-serif;
  color: white;
  text-align: center;
}
.artifactCont * {
  margin: 0;
}
.artifactCont img {
  width: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 14px;
}
.Terrible {
  background: linear-gradient(
    90deg,
    rgb(123, 45, 0),
    rgb(68, 30, 8),
    rgb(123, 45, 0)
  );
  color: white;
}
.Common {
  background: linear-gradient(
    90deg,
    rgb(48, 48, 48),
    rgb(86, 86, 86),
    rgb(48, 48, 48)
  );
  color: white;
}
.Uncommon {
  background: linear-gradient(
    90deg,
    rgb(13, 99, 0),
    rgb(8, 60, 0),
    rgb(13, 99, 0)
  );
  color: white;
}
.Rare {
  background: linear-gradient(
    90deg,
    rgb(8, 44, 150),
    rgb(0, 10, 103),
    rgb(8, 44, 150)
  );
  color: white;
}
.Unique {
  background: linear-gradient(
    90deg,
    rgb(94, 0, 141),
    rgb(48, 0, 82),
    rgb(94, 0, 141)
  );
  color: white;
}
.Mythical {
  background: linear-gradient(
    90deg,
    rgb(142, 11, 11),
    rgb(94, 0, 0),
    rgb(142, 11, 11)
  );
  color: white;
}
.Godly {
  background: linear-gradient(
    90deg,
    rgb(132, 0, 0),
    rgb(136, 66, 0),
    rgb(147, 152, 0),
    rgb(51, 133, 0),
    rgb(0, 133, 106),
    rgb(0, 28, 141),
    rgb(53, 0, 100)
  );
  color: white;
}
.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.openingScene {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.openDropCont {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.openDropCont img {
  transform-origin: center;
}
@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  4% {
    transform: rotateZ(25deg);
  }
  8% {
    transform: rotateZ(-25deg);
  }
  12% {
    transform: rotateZ(23deg);
  }
  16% {
    transform: rotateZ(-23deg);
  }
  24% {
    transform: rotateZ(21deg);
  }
  28% {
    transform: rotateZ(-21deg);
  }
  32% {
    transform: rotateZ(19deg);
  }
  36% {
    transform: rotateZ(-19deg);
  }
  40% {
    transform: rotateZ(17deg);
  }
  44% {
    transform: rotateZ(-17deg);
  }
  48% {
    transform: rotateZ(15deg);
  }
  52% {
    transform: rotateZ(-15deg);
  }
  56% {
    transform: rotateZ(13deg);
  }
  60% {
    transform: rotateZ(-13deg);
  }
  64% {
    transform: rotateZ(11deg);
  }
  68% {
    transform: rotateZ(-11deg);
  }
  72% {
    transform: rotateZ(9deg);
  }
  76% {
    transform: rotateZ(-9deg);
  }
  80% {
    transform: rotateZ(7deg);
  }
  84% {
    transform: rotateZ(-7deg);
  }
  88% {
    transform: rotateZ(5deg);
  }
  92% {
    transform: rotateZ(-5deg);
  }
  96% {
    transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
.appear {
  position: absolute;
  bottom: 3%;
}
.shake {
  animation: shake 2.5s ease-in-out;
}
.openImg1 {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 35%;
  aspect-ratio: 1 / 1;
  position: relative;
}
.openImg2 {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 26%;
  aspect-ratio: 1 / 1;
  position: relative;
}
.openImg3 {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 24%;
  aspect-ratio: 1 / 1;
  position: relative;
}
.openImg4 {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 18%;
  min-width: 180px;
  aspect-ratio: 1 / 1;
  position: relative;
}
.openImg5 {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 18%;
  aspect-ratio: 1 / 1;
  position: relative;
  z-index: 10;
}
.collectButton {
  width: 15%;
  aspect-ratio: 1 / 0.4;
  background-color: rgb(70, 70, 70);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Antic", sans-serif;
  border-radius: 8px;
  border: none;
  transition: background-color 1s;
}
.TerribleGlow {
  box-shadow: 0 0 6px 6px rgb(135, 81, 50);
  background-color: rgba(135, 81, 50, 0.2);
  border-radius: 50%;
  padding: 10px;
}
.CommonGlow {
  box-shadow: 0 0 6px 6px rgb(86, 86, 86);
  background-color: rgba(86, 86, 86, 0.2);
  border-radius: 50%;
  padding: 10px;
}
.UncommonGlow {
  box-shadow: 0 0 6px 6px rgb(60, 156, 45);
  background-color: rgba(60, 156, 45, 0.2);
  border-radius: 50%;
  padding: 10px;
}
.RareGlow {
  box-shadow: 0 0 6px 6px rgb(12, 62, 213);
  background-color: rgba(12, 62, 213, 0.2);
  border-radius: 50%;
  padding: 10px;
}
.UniqueGlow {
  box-shadow: 0 0 6px 6px rgb(130, 0, 197);
  background-color: rgba(131, 0, 197, 0.2);
  border-radius: 50%;
  padding: 10px;
}
.MythicalGlow {
  box-shadow: 0 0 6px 6px rgb(142, 11, 11);
  background-color: rgba(142, 11, 11, 0.2);
  border-radius: 50%;
  padding: 10px;
}
.GodlyGlow {
  box-shadow: 0 0 25px 25px rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 10px;
}
.canPressCollect {
  background-color: rgb(52, 133, 255);
  cursor: pointer;
}
.canPressCollect:hover {
  background-color: rgb(16, 80, 177);
}
.openBottom {
  margin-bottom: 100px;
}
.identifyer {
  opacity: 1;
  visibility: visible;
}
.invisible {
  opacity: 0;
  visibility: hidden;
}
.hiddenImg5 {
  width: 15%;
  aspect-ratio: 1;
  position: absolute;
  z-index: 1;
  visibility: hidden;
}
.red {
  background-color: rgb(255, 71, 71);
}
.blue:hover {
  background-color: rgb(42, 107, 157);
  box-shadow: 0 0 12px 2px rgba(255, 255, 255, 0.15);
}
.blue {
  background-color: rgb(57, 57, 57);
}
.enhanceCont {
  background: linear-gradient(
      75deg,
      rgb(53, 64, 73),
      rgb(116, 147, 161),
      rgb(53, 67, 73)
    ),
    linear-gradient(
      105deg,
      rgb(53, 64, 73),
      rgb(116, 138, 161),
      rgb(53, 65, 73)
    );
  background-blend-mode: overlay;
  width: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
}
.bolt {
  color: rgb(147, 194, 255);
  font-size: 11rem;
  margin: 0;
  transition: 0.15s;
  cursor: pointer;
}
.bolt:hover {
  font-size: 11.8rem;
}
.selectItem {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-content: flex-start;
  position: absolute;
  justify-content: start;
  background: linear-gradient(
    90deg,
    rgb(105, 127, 145),
    rgb(140, 171, 194),
    rgb(105, 127, 145)
  );
  border-radius: 20px;
  transition: all 0.3s ease;
  overflow-x: hidden;
}
.expandDiv {
  width: calc(70vw - 70px);
  min-width: fit-content;
  height: calc(90vh - 20px);
  padding: 10px 0;
  padding-left: 60px;
  padding-right: 10px;
}
.despandDiv {
  width: 0;
  min-width: 0;
  height: 0;
  padding: 0;
}
.selectItem::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.selectItem::-webkit-scrollbar-track {
  background: #2c2c2c;
  border-radius: 10px;
}
.selectItem::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
  border: 3px solid #2c2c2c;
}
.selectItem::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
.selectItem::-webkit-scrollbar-corner {
  background: #2c2c2c;
}
.exitBtn {
  width: fit-content;
  aspect-ratio: 1;
  background-color: transparent;
  color: rgb(206, 206, 206);
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.15s ease;
  position: absolute;
  left: 10px;
  top: 10px;
}
.exitBtn:hover {
  color: rgb(166, 166, 166);
}
.itemCont {
  width: calc(25% - 35px);
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  font-family: "Antic", sans-serif;
  color: white;
  text-align: center;
  font-size: 0.7rem;
  padding: 10px;
  position: relative;
}
.itemCont * {
  margin: 0;
}
.itemCont img {
  width: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 14px;
}
.enhancingItemImage {
  width: 18%;
  aspect-ratio: 1;
  z-index: 2;
  opacity: 0.6;
}
.enhancedItem{
  box-shadow: 0 0 12px 6px rgba(255, 255, 255, 0.3);
  border: 2px solid white;
}
.imgCont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.chain {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  background: repeating-linear-gradient(
    145deg,
    rgb(69, 44, 9),
    rgb(69, 44, 9) 15px,
    rgb(129, 81, 15) 15px,
    rgb(129, 81, 15) 30px
  );
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 50% 35%, 100% 0, 100% 10%, 50% 50%, 50% 50%, 0 10%);
  opacity: 0.6;
}
.enhanceScene {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  overflow: hidden;
}
.beams {
  width: 120px;
  background-color: white;
  position: absolute;
  border-radius: 8px;
  top: -40px;
  height: 140vh;
  transform-origin: top center;
  transition: transform 0.3s ease, height 0.3s ease;
  animation: tractorBeamHit 0.7s infinite forwards;
  opacity: 0.7;
}
.beamBase {
  width: 340px;
  aspect-ratio: 1 / 0.6;
  position: absolute;
  top: -140px;
  z-index: 2;
}
.notGood {
  flex: 0.44;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(91, 91, 91);
}
.good {
  flex: 0.12;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(72, 255, 93);
}
.beamBase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(255, 142, 142), rgb(255, 0, 0));
  clip-path: polygon(30% 100%, 70% 100%, 100% 0%, 0% 0%);
}
.beamCont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: top center;
}
.playBoxContainer {
  width: 65%;
  height: 40px;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.75;
}
.selectItem h3 {
  color: white;
  font-family: "Antic", sans-serif;
  font-size: 1.4rem;
  position: absolute;
  top: -5px;
  right: 40px;
  text-decoration: underline;
}
.displayEnhanceProgress {
  font-family: monospace;
  font-size: 1.5rem;
  color: rgb(0, 162, 255);
  font-weight: bold;
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.redPlayer {
  background-color: red;
  height: 100%;
  width: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.lava {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  background: linear-gradient(180deg, rgb(255, 187, 61), orange, rgb(255, 136, 0), rgb(255, 106, 0));
}
@keyframes tractorBeamMiss {
  0% {
    background-color: white;
    box-shadow: 0 0 10px 12px rgba(255, 255, 255, 0.18);
  }
  12.5% {
    background-color: rgb(255, 255, 238);
    box-shadow: 0 0 10px 12px rgba(255, 255, 238, 0.15);
  }
  25% {
    background-color: rgb(255, 251, 229);
    box-shadow: 0 0 10px 12px rgba(255, 251, 229, 0.12);
  }
  37.5% {
    background-color: rgb(156, 156, 156);
    box-shadow: 0 0 10px 12px rgba(255, 255, 255, 0.09);
  }
  50% {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 12px rgba(255, 255, 255, 0.05);
  }
  62.5% {
    background-color: rgb(156, 156, 156);
    box-shadow: 0 0 10px 12px rgba(255, 255, 255, 0.09);
  }
  75% {
    background-color: rgb(255, 251, 229);
    box-shadow: 0 0 10px 12px rgba(255, 251, 229, 0.12);
  }
  87.5% {
    background-color: rgb(255, 255, 238);
    box-shadow: 0 0 10px 12px rgba(255, 255, 238, 0.15);
  }
  100% {
    background-color: white;
    box-shadow: 0 0 10px 12px rgba(255, 255, 255, 0.18);
  }
}
@keyframes tractorBeamHit {
  0% {
    background-color: rgb(159, 221, 255);
    box-shadow: 0 0 10px 12px rgba(159, 221, 255, 0.18);
  }
  12.5% {
    background-color: rgb(102, 214, 255);
    box-shadow: 0 0 10px 12px rgba(102, 214, 255, 0.15);
  }
  25% {
    background-color: rgb(0, 187, 255);
    box-shadow: 0 0 10px 12px rgba(0, 187, 255, 0.12);
  }
  37.5% {
    background-color: rgb(102, 214, 255);
    box-shadow: 0 0 10px 12px rgba(102, 214, 255, 0.09);
  }
  50% {
    background-color: rgb(159, 221, 255);
    box-shadow: 0 0 10px 12px rgba(159, 221, 255, 0.05);
  }
  62.5% {
    background-color: rgb(102, 214, 255);
    box-shadow: 0 0 10px 12px rgba(102, 214, 255, 0.09);
  }
  75% {
    background-color: rgb(0, 187, 255);
    box-shadow: 0 0 10px 12px rgba(0, 187, 255, 0.12);
  }
  87.5% {
    background-color: rgb(102, 214, 255);
    box-shadow: 0 0 10px 12px rgba(102, 214, 255, 0.15);
  }
  100% {
    background-color: rgb(159, 221, 255);
    box-shadow: 0 0 10px 12px rgba(159, 221, 255, 0.18);
  }
}
