#mainBody{
  width: 100vw;
  height: 100vh;
  display: flex;
}
#leftMenu{
  background-color: rgb(53, 53, 53);
  flex: 0.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#balanceBox{
  width: 90%;
  aspect-ratio: 1 / 0.7;
  margin-top: 15px;
  background-color: rgb(61, 61, 61);
  border-radius: 18px;
  position: relative;
  font-family: 'Antic', sans-serif;
}
#balanceBox h2{
  position: absolute;
  margin: 0;
  top: 5px;
  font-size: 1.5rem;
  color: rgb(145, 145, 145);
  width: 100%;
  text-align: center;
}
#balanceBox .one{
  position: absolute;
  bottom: 45px;
  left: 5px;
  margin: 0;
  font-size: 1.15rem;
  color: rgb(101, 101, 101);
}
#balanceBox .two{
  position: absolute;
  bottom: 20px;
  right: 5px;
  margin: 0;
  font-size: 0.8rem;
  color: rgb(101, 101, 101);
}
#progressBarContainer{
  height: 3px;
  width: 100%;
  bottom: 40px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: right;
  background: linear-gradient(90deg, yellow, orange, red, purple);
}
#progressBar{
  height: 100%;
  width: 100%;
  background-color: rgb(86, 86, 86);
  z-index: 2;
}
.btn{
  width: 80%;
  height: 45px;
  border-radius: 8px;
  border: 3px solid rgb(72, 72, 72);
  color: rgb(72, 72, 72);
  background-color: transparent;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.25s;
  font-family: 'Antic', sans-serif;
  font-size: 1.5rem;
  text-align: left;
}
.btn:hover{
  border: 3px solid rgb(96, 96, 96);
  color: rgb(96, 96, 96);
}
.activeBtn{
  width: 80%;
  height: 45px;
  border-radius: 8px;
  border-color: white;
  color: white;
  font-family: 'Antic', sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.25s;
  text-align: left;
}
.activeBtn:hover{
  border: 3px solid white;
  color: white;
}
.extractedMoney{
  margin: 0px;
  font-family: 'antic', sans-serif;
  margin-left: 5px;
}
.extractedMoneyCont{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}
.display{
  visibility: visible;
  opacity: 1;
}
.shopPage, .inventoryPage{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 7.5px;
  height: calc(100vh - 15px);
}
.bettingPage{
  display: flex;
  padding: 7.5px;
  height: calc(100vh - 15px);
  justify-content: center;
  align-items: center;
}
.itemMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.openMenu{
  display: flex;
  width: 100%;
  min-height: calc(100% - 60px);
  height: auto;
  border-radius: 20px;
  background: linear-gradient(90deg, rgb(33, 33, 33), rgb(60, 60, 60), rgb(33, 33, 33));
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.itemMenu button{
  border: none;
  height: 45px;
  width: 120px;
  cursor: pointer;
  background-color: #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: background-color 0.15s;
  margin-left: 10px;
  margin-bottom: 30px;
  font-family: "Antic", sans-serif;
  color: white;
  font-size: 2rem;
  margin-top: 20px;
}
.itemMenu button:hover{
  background-color: #212121;
}
.openMenu img{
  width: 250px;
  aspect-ratio: 1 / 1;
}
.openMenu h1{
  font-family: "Antic", sans-serif;
  color: white;
}
.artifactsShowcase{
  width: 100%;
  height: auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color: rgb(32, 32, 32);
  gap: 20px;
}
.artifactCont{
  width: calc(25% - 20px);
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  font-family: "Antic", sans-serif;
  color: white;
  text-align: center;
}
.artifactCont *{
  margin: 0;
}
.artifactCont img{
  width: 70%;
  aspect-ratio: 1 / 1;
}
.Terrible{
  background: linear-gradient(90deg, rgb(165, 87, 42), rgb(126, 57, 18), rgb(165, 87, 42));
}
.Common{
  background: linear-gradient(90deg, rgb(90, 90, 90), grey, rgb(90, 90, 90));
}
.Uncommon{
  background: linear-gradient(90deg, rgb(123, 255, 103), rgb(69, 255, 41), rgb(123, 255, 103));
}
.Rare{
  background: linear-gradient(90deg, rgb(54, 104, 255), rgb(0, 64, 255), rgb(54, 104, 255));
}
.Unique{
  background: linear-gradient(90deg, rgb(188, 54, 255), rgb(143, 0, 215), rgb(188, 54, 255));
}
.Mythical{
  background: linear-gradient(90deg, rgb(255, 54, 54), rgb(255, 0, 0), rgb(255, 54, 54));
}
.Godly{
  background: linear-gradient(90deg, rgb(255, 0, 0), rgb(255, 153, 0), rgb(246, 255, 0), rgb(98, 255, 0), rgb(0, 255, 204), rgb(0, 51, 255), rgb(136, 0, 255));
}