body {
  margin: 0;
  overflow-y: hidden;
}
.rightPage {
  flex: 1.6;
  background: radial-gradient(#1c1c1c, #2a2a2a, #393939);
  overflow-x: hidden;
}
.extractPage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(118, 118, 118);
  position: relative;
  height: 100vh;
}
.icon {
  font-size: 8rem;
  transition: 0.05s;
  cursor: pointer;
}
.extractPage i:active {
  font-size: 8.5rem;
}
.artifact {
  width: calc(25% - 19px);
  aspect-ratio: 1 / 1;
  margin: 7.5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-family: "Antic", sans-serif;
  align-items: center;
}
.normal {
  background: linear-gradient(
    90deg,
    rgb(40, 40, 40),
    rgb(53, 53, 53),
    rgb(40, 40, 40)
  );
  color: rgb(108, 108, 108);
}
.artifact img {
  width: 60%;
  aspect-ratio: 1 / 1;
}
.artifact h2 {
  font-size: 1.3rem;
  margin: 0;
}
.artifact h3 {
  margin: 0;
}
.canBuy,
.cannotBuy {
  width: 90%;
  height: 40px;
  font-family: "Antic", sans-serif;
  color: white;
  border: none;
  border-radius: 8px;
  transition: 0.15s;
  margin-bottom: 5px;
}
.canBuy {
  background-color: rgb(0, 115, 255);
  cursor: pointer;
}
.cannotBuy {
  background-color: rgb(108, 108, 108);
  cursor: default;
}
.canBuy:hover {
  background-color: rgb(0, 99, 221);
}
.sell,
.open {
  width: fit-content;
  min-width: 40%;
  max-width: 55%;
  height: fit-content;
  min-height: 30px;
  padding: 3px;
  font-family: "Antic", sans-serif;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.15s;
  margin-bottom: 5px;
}
.sell {
  background-color: rgb(255, 100, 100);
}
.open {
  background-color: rgb(0, 115, 255);
}
.open:hover {
  background-color: rgb(0, 99, 221);
}
.sell:hover {
  background-color: rgb(255, 83, 83);
}
.buttonCont {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}
.upgrades {
  display: flex;
  width: 100vw;
}
.certified {
  border: 8px double rgba(255, 255, 0, 0.5);
}
.upgradesWrapper {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-direction: column;
}
.upgradeCont {
  color: white;
  font-size: 1.4rem;
  font-family: "Antic", sans-serif;
  margin: 20px 0;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(36, 36, 36),
    rgb(50, 50, 50),
    rgb(121, 121, 121)
  );
}
.notMax {
  height: 60%;
  width: auto;
  min-width: 80px;
  font-family: "Antic", sans-serif;
  color: white;
  font-size: 1.3rem;
  border-radius: 10px;
  border: none;
  margin-left: 25px;
  cursor: pointer;
  transition: 0.15s;
  box-shadow: none;
}
.max {
  background-color: rgb(57, 57, 57);
  cursor: default;
  height: 60%;
  width: auto;
  min-width: 80px;
  font-family: "Antic", sans-serif;
  color: rgb(114, 114, 114);
  font-size: 1.3rem;
  border-radius: 10px;
  border: none;
  margin-left: 25px;
  transition: 0.15s;
  box-shadow: none;
}
.enhancePage {
  flex: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      135deg,
      #383838,
      #525252,
      #49575f,
      #525252,
      #383838
    ),
    linear-gradient(45deg, #383838, #525252, #49575f, #525252, #383838);
  background-blend-mode: overlay;
  overflow-x: hidden;
}
.selectBtn {
  width: 80%;
  min-width: fit-content;
  height: 40px;
  background-color: rgb(116, 160, 255);
  font-family: "Antic", sans-serif;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.15s ease;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
}
.selectBtn:hover {
  background-color: rgb(58, 97, 180);
}
.left28 {
  left: 28%;
}
.right28 {
  right: 28%;
}
.leftTran32 {
  left: 32%;
  transform: translateX(-32%);
}
.rightTran32 {
  right: 32%;
  transform: translateX(32%);
}
.left27{
  left: 27%;
}
.right27{
  right: 27%;
}
.marginRight90{
  margin-right: 90px;
}
.marginLeft90{
  margin-left: 90px;
}
.leftTran25{
  left: 25%;
  transform: translateX(-25%);
}
.rightTran25{
  right: 25%;
  transform: translateX(25%);
}
.left30{
  left: 30%;
}
.right30{
  right: 30%;
}
.left20{
  left: 20%;
}
.right20{
  right: 20%;
}
.leftTran37{
  left: 37%;
  transform: translateX(-37%);
}
.rightTran37{
  right: 37%;
  transform: translateX(37%);
}
.shopPage::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.shopPage::-webkit-scrollbar-track {
  background: #2c2c2c;
  border-radius: 10px;
}
.shopPage::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
  border: 3px solid #2c2c2c;
}
.shopPage::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
.shopPage::-webkit-scrollbar-corner {
  background: #2c2c2c;
}
.inventoryPage::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.inventoryPage::-webkit-scrollbar-track {
  background: #2c2c2c;
  border-radius: 10px;
}
.inventoryPage::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
  border: 3px solid #2c2c2c;
}
.inventoryPage::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
.inventoryPage::-webkit-scrollbar-corner {
  background: #2c2c2c;
}
.itemMenu::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.itemMenu::-webkit-scrollbar-track {
  background: #2c2c2c;
  border-radius: 10px;
}
.itemMenu::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
  border: 3px solid #2c2c2c;
}
.itemMenu::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
.itemMenu::-webkit-scrollbar-corner {
  background: #2c2c2c;
}
@media (800px <= width <= 1000px) {
}
@media (500px <= width <800px) {
  .icon {
    font-size: 7rem;
  }
  .extractPage i:active {
    font-size: 7.5rem;
  }
  .artifact {
    width: calc(33.3333333333% - 19px);
  }
  .artifact h2 {
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 5px;
  }
  .artifact h3 {
    margin: 0;
    font-size: 0.9rem;
  }
  .selectBtn {
    margin-top: 5px;
  }
  .left28 {
    left: 34%;
  }
  .right28 {
    right: 34%;
  }
  .leftTran32 {
    left: 28%;
    transform: translateX(-28%);
  }
  .rightTran32 {
    right: 28%;
    transform: translateX(28%);
  }
  .left27{
    left: 31.6%;
  }
  .right27{
    right: 31.6%;
  }
  .marginRight90{
    margin-right: 90px;
  }
  .marginLeft90{
    margin-left: 90px;
  }
  .leftTran25{
    left: 18%;
    transform: translateX(-18%);
  }
  .rightTran25{
    right: 18%;
    transform: translateX(18%);
  }
  .left30{
    left: 35.2%;
  }
  .right30{
    right: 35.2%;
  }
  .left20{
    left: 26%;
  }
  .right20{
    right: 26%;
  }
  .leftTran37{
    left: 30%;
    transform: translateX(-30%);
  }
  .rightTran37{
    right: 30%;
    transform: translateX(30%);
  }  
}
@media (width < 500px) {
  .icon {
    font-size: 6rem;
  }
  .extractPage i:active {
    font-size: 6.4rem;
  }
  .artifact {
    width: calc(50% - 19px);
  }
  .artifact h2 {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  .artifact h3 {
    margin: 0;
    font-size: 0.8rem;
  }
  .upgradeCont {
    font-size: 1.2rem;
    padding: 8px;
    background: linear-gradient(
      90deg,
      rgb(36, 36, 36),
      rgb(50, 50, 50),
      rgb(50, 50, 50),
      rgb(121, 121, 121)
    );
  }
  .notMax {
    font-size: 1.1rem;
    margin-right: 15px;
  }
  .max {
    font-size: 1.1rem;
    margin-right: 15px;
  }
  .selectBtn {
    margin-top: 5px;
  }
  .left28 {
    left: 35.5%;
  }
  .right28 {
    right: 35.5%;
  }
  .leftTran32 {
    left: 25%;
    transform: translateX(-25%);
  }
  .rightTran32 {
    right: 25%;
    transform: translateX(25%);
  }
  .left27{
    left: 31.5%;
  }
  .right27{
    right: 31.5%;
  }
  .marginRight90{
    margin-right: 33px;
  }
  .marginLeft90{
    margin-left: 33px;
  }
  .leftTran25{
    left: 15%;
    transform: translateX(-15%);
  }
  .rightTran25{
    right: 15%;
    transform: translateX(15%);
  }
  .left30{
    left: 40.5%;
  }
  .right30{
    right: 40.5%;
  }
  .left20{
    left: 33%;
  }
  .right20{
    right: 33%;
  }
  .leftTran37{
    left: 25%;
    transform: translateX(-25%);
  }
  .rightTran37{
    right: 25%;
    transform: translateX(25%);
  }  
}
